@tailwind base;
@tailwind components;
@tailwind utilities;
@import './themes.scss';

@layer base {
	* {
		@apply border-border select-none;
	}

	*::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0.7rem;
		height: 0.7rem;
		background-color: transparent;
	}

	*::-webkit-scrollbar-thumb {
		border: 2px solid rgba(0, 0, 0, 0);
		border-radius: 999px;
		background-clip: padding-box;

		@apply bg-border;
	}

	*::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	// Chromium
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	// Mozilla
	input[type='number'] {
		-moz-appearance: textfield;
		margin: 0;
	}

	.dark {
		input[type='date']::-webkit-inner-spin-button,
		input[type='date']::-webkit-calendar-picker-indicator {
			filter: invert(1);
		}
	}

	body {
		@apply bg-background text-foreground w-full h-screen appearance-none;
	}

	#root {
		@apply w-full h-full;
	}
}
